.divv{
    display: inline-block;
    margin-left: 10px;
    
    
    
    
    }
    div p{color: black;
        text-overflow: initial;
        text-transform: capitalize;
        text-shadow: 1px 0px 0px ;
    
    
    }
    .input{
        float: right;
        display: block;
        margin-top: 30px;
        width: 80%;
        margin-right: 20px;
        padding: 5px;
        border-color: rgb(26, 24, 24);
        border-width: 2px;
        border-style: solid;
    
    }
    .label{
    
        float: right;
        margin-right: 20px;
    }
    .labell{
    
        float: right;
        text-align: right;
        margin-right: 20px;
    }
    .inputt{
        float: right;
        display: block;
        margin-top: 30px;
        width: 80%;
        padding: 5px;
        border-color: rgb(26, 24, 24);
        border-width: 2px;
        border-style: solid;
    
    }
    
    